<form id="batch-add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">公司名称列表:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-companies" class="form-control" name="row[companies]" rows="10" placeholder="请输入公司名称，每行一个，或用逗号分隔&#10;例如：&#10;公司A&#10;公司B,公司C&#10;公司D" data-rule="required"></textarea>
            <span class="help-block">支持每行一个公司名称，或在同一行用逗号分隔多个公司名称</span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">备注说明:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-remark" class="form-control" name="row[remark]" type="text" placeholder="可选，为所有添加的公司设置统一备注">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">批量添加</button>
            <button type="reset" class="btn btn-default btn-embossed">重置</button>
        </div>
    </div>
</form>
