/thinkphp/
/vendor/
/runtime/*
/addons/*
/public/assets/libs/
/public/assets/addons/*
/public/uploads/*
/public/receipt/*
/public/transfer_images/*
/application/database.php
/transfer_images
/logs
.idea
composer.lock
*.log
*.css.map
!.gitkeep
.env
.svn
.vscode
node_modules
.user.ini
/public/share_wallet_images/
/public/transfer_images/
/application/api/controller/fission/black_company_config_fission.php
/application/api/controller/fission/black_company_config.php
/application/robotapi/job/tencent/log/