<form id="edit-all-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    {:token()}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">处理状态:</label>
        <div class="col-xs-12 col-sm-4">
            <select class="form-control selectpicker" name="handle_status" data-live-search="false">
                {foreach $handle_status_list as $k => $v}
                <option value="{$k}" >{$v}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="c-remark" class="control-label col-xs-12 col-sm-2">自定义备注:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-remark" class="form-control" name="remark"  placeholder="请输入备注"></textarea>
        </div>
    </div>

</form>
