<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    {:token()}
    <input type="hidden" name="id" value="{$row.id}">

    <div class="form-group">
        <label for="c-discount_percentage" class="control-label col-xs-12 col-sm-2">名称:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-discount_percentage"  class="form-control" name="name" type="text" value="{$row.name}" placeholder="请输入操作员名称" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">类型:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="radio">
                <label>
                    <input name="type"  type="radio" value="0" {if $row.type == 0 || $row.type == ''}checked{/if}> 运营
                </label>
                <label>
                    <input name="type" type="radio" value="1" {if $row.type == 1}checked{/if}> 客户
                </label>
            </div>
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">状态:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="radio">
                <label>
                    <input name="status"  type="radio" value="0" {if $row.status == 0}checked{/if}> 禁用
                </label>
                <label>
                    <input name="status" type="radio" value="1" {if $row.status == 1}checked{/if}> 正常
                </label>
            </div>
        </div>
    </div>



    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
