<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        {:build_toolbar('refresh')}

                    </div>
                    <table id="table" class="table table-striped table-bordered table-hover table-nowrap"
                           width="100%">
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>

<script id="search-tpl" type="text/html">
    <form action="" class="form-commonsearch">
        <div style="border-radius:2px;margin-bottom:10px;background:#f5f5f5;padding:15px 20px;">
            <div class="row" style="width: 80%;display: flex;">
                <div class="col-xs-3 col-sm-2 col-md-3">
                    <div class="form-group">
                        <input type="hidden" class="operate" data-name="keyword" value="like"/>
                        <label class="control-label">敏感词</label>
                        <div>
                            <label>
                                <input class="form-control" type="text" name="keyword" value=""/>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-2 col-md-3">
                    <div class="form-group">
                        <input type="hidden" class="operate" data-name="company_name" value="like"/>
                        <label class="control-label">公司名</label>
                        <div>
                            <label>
                                <input class="form-control" type="text" name="company_name" value=""/>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-2 col-md-3">
                    <div class="form-group">
                        <input type="hidden" class="operate" data-name="adv_id" value="="/>
                        <label class="control-label">千川id</label>
                        <div>
                            <label>
                                <input class="form-control" type="text" name="adv_id" value=""/>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-2 col-md-3">
                    <div class="form-group">
                        <input type="hidden" class="operate" data-name="staff" value="like"/>
                        <label class="control-label">客服/巡查/商务</label>
                        <div>
                            <label>
                                <input class="form-control" type="text" name="staff" value=""/>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-2 col-md-3">
                    <div class="form-group">
                        <input type="hidden" class="operate" data-name="handle_status" value="="/>
                        <label class="control-label">处理状态</label>
                            <select class="form-control selectpicker" name="handle_status" data-live-search="false">
                                {foreach $handle_status_list as $k => $v}
                                <option value="{$k}">{$v}</option>
                                {/foreach}
                            </select>
                    </div>
                </div>

                <div class="col-xs-3 col-sm-2 col-md-3">
                    <div class="form-group">
                        <input type="hidden" class="operate" data-name="sys_tag" value="="/>
                        <label class="control-label">系统标签</label>
                        <select class="form-control selectpicker" name="sys_tag" data-live-search="false">
                            <option value="">请选择</option>
                            {foreach $tag_list as $k => $v}
                            <option value="{$k}">{$v}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                        <label class="control-label"></label>
                        <div class="row">
                            <div class="col-xs-6">
                                <input type="submit" class="btn btn-success btn-block" value="提交"/>
                            </div>
                            <div class="col-xs-6">
                                <input type="reset" class="btn btn-primary btn-block" value="重置"/>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
</script>

