<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    {:token()}
    <input type="hidden" name="id" value="{$data.id}">


    <div class="form-group">
        <label  class="control-label col-xs-12 col-sm-2">银行单号:</label>
        <div class="col-xs-12 col-sm-4">
            <div class="radio">
                {$data.order_number}
            </div>
        </div>
    </div>

    <div class="form-group">
        <label  class="control-label col-xs-12 col-sm-2">账号:</label>
        <div class="col-xs-12 col-sm-4">
            <div class="radio">
                {$data.username}
            </div>
        </div>
    </div>

    <div class="form-group">
        <label  class="control-label col-xs-12 col-sm-2">充值金额:</label>
        <div class="col-xs-12 col-sm-4">
            <div class="radio">
                {$data.money}
            </div>
        </div>
    </div>

    <div class="form-group">
        <label  class="control-label col-xs-12 col-sm-2">授信扣款:</label>
        <div class="col-xs-12 col-sm-4">
            <div class="radio">
                {$data.deduction_credit_limit}
            </div>
        </div>
    </div>

    <div class="form-group">
        <label  class="control-label col-xs-12 col-sm-2">实际到账:</label>
        <div class="col-xs-12 col-sm-4">
            <div class="radio">
                {$data.actual_money}
            </div>
        </div>
    </div>

    <div class="form-group">
        <label  class="control-label col-xs-12 col-sm-2">充值类型:</label>
        <div class="col-xs-12 col-sm-4">
            <div class="radio">
                {if $data.account_type == 1}
                公
                {else/}
                私
                {/if}
            </div>
        </div>
    </div>

    <div class="form-group">
        <label  class="control-label col-xs-12 col-sm-2">银行回单:</label>
        <div class="col-xs-12 " style="width: 80%">
            <div class="radio">
                <a href="{$data.receipt_image}" target="_blank" class="thumbnail">
                    <img  src="{$data.receipt_image}" class="img-responsive">
                </a>
            </div>
        </div>
    </div>
    {if $data.status == 0}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="radio">
                <label>
                    <input name="status" checked type="radio" value="1"> 通过
                </label>
                <label>
                    <input  name="status" type="radio" value="2"> 不通过
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="c-auditing_explain" class="control-label col-xs-12 col-sm-2">审核备注:</label>
        <div class="col-xs-12 col-sm-4">
            <input id="c-auditing_explain"  class="form-control" name="auditing_explain" type="text" value=""  />
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
    {else}
    <div class="form-group">
        <label  class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-4">
            <div class="button">
                {if $data.status == 1}
                    <button type="button" class="btn btn-success btn-embossed disabled">
                    已通过
                    </button>
                {else/}
                    <button type="button" class="btn btn-danger btn-embossed disabled">
                    不通过
                    </button>
                {/if}

            </div>
        </div>
    </div>
    {/if}
</form>
