<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    {:token()}
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">商户:</label>
        <div class="col-xs-12 col-sm-4">
            <select name="row[store_id]" class="form-control selectpicker" data-live-search="true" data-rule="required" data-size="10" data-width="100%">
                <option value="">请选择商户</option>
                {foreach $storeList as $vo}
                <option value="{$vo.id}" data-subtext="ID: {$vo.id}">{$vo.username}</option>
                {/foreach}
            </select>
            <span class="help-block">只能选择尚未配置腾讯账户的商户</span>
        </div>
    </div>
    
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">公账钱包:</label>
        <div class="col-xs-12 col-sm-4">
            <input type="number" class="form-control" name="row[public_money_tencent]" value="0.00" step="0.01" min="0">
        </div>
    </div>
    
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">私有钱包:</label>
        <div class="col-xs-12 col-sm-4">
            <input type="number" class="form-control" name="row[private_money_tencent]" value="0.00" step="0.01" min="0">
        </div>
    </div>
    
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">授信额度(公):</label>
        <div class="col-xs-12 col-sm-4">
            <input type="number" class="form-control" name="row[public_credit_limit_tencent]" value="0.00" step="0.01" min="0">
        </div>
    </div>
    
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">授信额度(私):</label>
        <div class="col-xs-12 col-sm-4">
            <input type="number" class="form-control" name="row[private_credit_limit_tencent]" value="0.00" step="0.01" min="0">
        </div>
    </div>
    
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">已使用授信额度(公):</label>
        <div class="col-xs-12 col-sm-4">
            <input type="number" class="form-control" name="row[public_spending_credit_limit_tencent]" value="0.00" step="0.01" min="0" readonly>
            <span class="help-block">新增时不可编辑，系统自动计算</span>
        </div>
    </div>
    
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">已使用授信额度(私):</label>
        <div class="col-xs-12 col-sm-4">
            <input type="number" class="form-control" name="row[private_spending_credit_limit_tencent]" value="0.00" step="0.01" min="0" readonly>
            <span class="help-block">新增时不可编辑，系统自动计算</span>
        </div>
    </div>
    
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">折扣百分比(公):</label>
        <div class="col-xs-12 col-sm-4">
            <input type="number" class="form-control" name="row[public_discount_percentage_tencent]" value="0.0000" step="0.0001" min="0" max="100">
        </div>
    </div>
    
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">折扣百分比(私):</label>
        <div class="col-xs-12 col-sm-4">
            <input type="number" class="form-control" name="row[private_discount_percentage_tencent]" value="0.0000" step="0.0001" min="0" max="100">
        </div>
    </div>
    
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>